<!doctype html>
<html lang="en" ng-app="gisApp">
<head>
  <meta charset="utf-8">
  <title>Where's the Booty???</title>
    <script src="http://maps.googleapis.com/maps/api/js?sensor=false&language=en"></script>
  <script src="./Content/js/angular.js"></script>
    <script src="/Content/js/angular-google-maps.js"></script>
  <script src="./Content/js/app.js"></script>

</head>
<body >
    <div ng-controller="gisCtrl">
        <label>Longitude: </label><input ng-model="query.longitude" type="text"/>
        <label>Latitude: </label><input ng-model="query.latitude" type="text"/>
        <label>Radius: </label><input ng-model="query.radius" type="text"/>
        <label>Type: </label><select ng-model="query.type">
                                 <option value="0">Gold</option>
                                 <option value="1">Silver</option>
                                 <option value="2">Ooze Monster</option>
                             </select>
        <button ng-click="submit()">Submit!</button>
        <h3>Results:</h3>
        <google-map center="center" draggable="true" zoom="zoom" markers="markers" mark-click="true"  style="height: 400px;display:block"></google-map>
        <ul>
            <li ng-repeat="treasure in treasures">
                Type: {{treasure.t}}, Longitude:{{treasure.l.coordinates[0]}}, Latitude:{{treasure.l.coordinates[1]}}
            </li>
        </ul>

      
    </div>
</body>
</html>
